PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/OSOUL
JWT_SECRET=your_jwt_secret_here_generate_with_openssl_rand_hex_64
CLOUD_NAME=your_cloudinary_cloud_name
CLOUD_API_KEY=your_cloudinary_api_key
CLOUD_API_SECRET=your_cloudinary_api_secret
INFOBIP_API_KEY=your_infobip_api_key
INFOBIP_BASE_URL=https://your-domain.api.infobip.com/whatsapp/1/message/template
